.sidebar-opener {
    cursor: pointer;
}

.sidebar-slider {
    position: fixed;
    top: 8%;
    left: 0;
    bottom: 0;
    background-color: #160663;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 300px;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.sidebar-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-size: 16px;
    padding: 16px;
}
.sidebar-item{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.sidebar-item:hover{
    background-color: #41357d;
}

.fas{
    margin-right: 10px;
}