<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Agendamento</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>Voltar</a>
            </div>
          </div>
        </div>       
        <table class="table table-striped table-hover table-bordered table-conten">
          <tbody>
            <tr>
              <td><label><b>Código da Visita</b></label></td>
              <td><span>{{ agendamentoDetalhes.idAgendamento }}</span></td>
            </tr>
            <tr>
              <td><label><b>Número do Contêiner</b></label> </td>
              <td><span>{{ agendamentoDetalhes.numeroConteiner }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Data da Janela</b></label></td>
              <td> <span>{{ agendamentoDetalhes.dataInicioJanela | date: 'dd/MM/yyyy | HH:mm' }} - {{ agendamentoDetalhes.dataFimJanela | date: 'HH:mm' }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Nome do Motorista</b></label></td>
              <td><span>{{ agendamentoDetalhes.nomeMotorista }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Placa do Veículo</b></label></td>
              <td> <span>{{ agendamentoDetalhes.placa }}</span></td>
            </tr>
            <tr>
                <td> <label><b>Nome Fantasia da Transportadora</b></label></td>
                <td> <span>{{ agendamentoDetalhes.transportadora }}</span></td>
            </tr>
          </tbody>
        </table>       
      </div>
    </div>
  </div>